{% extends 'layout.twig' %}

{% block body %}
<div>
  <form action="/upload" method="post">
    <h1>File upload server</h1>
    <input type="file"/>
    <input type="text" name="token" placeholder="Token">
    <button type="submit">Upload file</button>
  </form>
</div>
{% endblock %}
